testataRichiesta.dataOraRichiesta - errore

Al momento in cui riempio il dato testataRichiesta.dataOraRichiesta, i servizi ritornano codice 500

REQUEST:
{
    "evento": {
        "idAnsc": "",
        "idTipoEvento": "1",
        "idtipocontenuto": "1",
        "idUsecase": "11999999",
        "stato": "BOZZA",
        "dataformazione": "2023-05-31",
        "ora": "14",
        "minuto": "46",
        "operatore": "DLCNTN57L67A064W",
        "operatoreNome": "MARTINA",
        "operatoreCognome": "GORI",
        "idComuneRegistrazione": "7751",
        "nomeComuneRegistrazione": "QUARRATA",
        "idProvinciaRegistrazione": "47",
        "siglaProvinciaRegistrazione": "PT",
        "dataDecorrenza": "2023-05-31",
        "numeroatto": "89",
        "intestatari": [{
                "cognome": "ROBA",
                "nome": "MASSIMO",
                "sesso": "M",
                "dataNascita": "1955-12-07",
                "idComuneNascita": "16449",
                "nomeComuneNascita": "GENOVA",
                "idProvinciaNascita": "10",
                "siglaProvinciaNascita": "GE",
                "idStatoNascita": "100",
                "nomeStatoNascita": "ITALIA"
            }
        ],
        "madre": {
            "cognome": "ROBA",
            "nome": "MAMMA",
            "sesso": "F",
            "dataNascita": "1931-05-06",
            "idComuneNascita": "20499",
            "nomeComuneNascita": "UDINE",
            "idProvinciaNascita": "30",
            "siglaProvinciaNascita": "UD",
            "idStatoNascita": "100",
            "nomeStatoNascita": "ITALIA",
            "idComuneResidenza": "10323",
            "nomeComuneResidenza": "UDINE",
            "idProvinciaResidenza": "30",
            "siglaProvinciaResidenza": "UD",
            "idStatoResidenza": "100",
            "nomeStatoResidenza": "ITALIA",
            "idNazionalita": "100",
            "nazionalita": "ITALIANA",
            "flagDichiarante": false,
            "flagComparente": false,
            "flagFirmatario": true
        },
        "padre": {
            "cognome": "ROBA",
            "nome": "BABBO",
            "sesso": "M",
            "dataNascita": "1925-04-02",
            "idComuneNascita": "18610",
            "nomeComuneNascita": "TARANTO",
            "idProvinciaNascita": "73",
            "siglaProvinciaNascita": "TA",
            "idStatoNascita": "100",
            "nomeStatoNascita": "ITALIA",
            "idComuneResidenza": "18610",
            "nomeComuneResidenza": "TARANTO",
            "idProvinciaResidenza": "73",
            "siglaProvinciaResidenza": "TA",
            "idStatoResidenza": "100",
            "nomeStatoResidenza": "ITALIA",
            "idNazionalita": "100",
            "nazionalita": "ITALIANO",
            "flagDichiarante": false,
            "flagComparente": false,
            "flagFirmatario": true
        },
        "datiDiNascita": {
            "oraNascita": "1",
            "minutoNascita": "54"
        },
        "composizioneCompleta": " L\u0027anno duemilaventitre addi\u0027 trentuno del mese di maggio alle ore quattordici e minuti  -------   quarantasei nella casa comunale. Avanti a me, GORI MARTINA, , Ufficiale dello stato civile del    Comune di QUARRATA  e\u0027 compars   nat in  li  residente in ,  quale mi ha dichiarato quanto  ---   segue: ----------------------------------------------------------------------------------------   Il giorno SETTE del mese di DICEMBRE dell\u0027anno MILLENOVECENTOCINQUANTACINQUE alle ore UNA e  --   minuti CINQUANTAQUATTRO nel ospedale del comune di GENOVA da  e\u0027 nato un bambino di sesso  ----   MASCHILE. -------------------------------------------------------------------------------------   A detto bambino che non mi viene presentato, ma della cui nascita io mi sono accertato a mezzo    della attestazione di nascita rilasciata dall\u0027ostetrica il dichiarante dà il nome di MASSIMO .    -----------------------------------------------------------------------------------------------   -----------------------------------------------------------------------------------------------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            L\u0027UFFICIALE DI STATO CIVILE:                                                                     "
    },
    "testataRichiesta": {
        "idComune": 7751,
        "idOperazioneComune": "7727",
        "dataOraRichiesta": {
            "dateTime": {
                "date": "2023-05-31",
                "time": {
                    "hour": 17,
                    "minute": 9,
                    "second": 8,
                    "nano": 158000000
                }
            },
            "offset": {
                "totalSeconds": 7200
            }
        },
        "nomeApplicativo": "urbi",
        "versioneApplicativo": "0.1.0",
        "fornitoreApplicativo": "padigitale"
    }
}

HttpResponse Code: 500

HttpResponse Body:
{
    "message": "internal.error",
    "errors": null
}


Buongiorno @biadanpad 
Stando alle specifiche OpenAPI per il tipo [dataOraRcihiesta](https://github.com/italia/ansc/blob/6865d7cc81f8abbff7621855ad3119d6e7806292/docs/openapi/base_servizi.yaml#L26), questo è di tipo stringa e come formato `date-time`, deve quindi essere formatto in base a quanto riportato [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), per esempi, 2017-07-21T17:32:28Z

Chiudo la issue. Nel caso dovesse riscontrare altri problemi riapra la issue.

Cordiali Saluti.
Supporto ANSC.